<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrik-to-fit=no">
  <title> Biblioteca </title>
  <link rel="stylesheet" href="/css/master.css">
</head>

<body>
 
  <div class="Container">
  
  <div class="row">
  
  <div class="col">
   
    <h1 class="text-center"> Bem-Vindo a Biblioteca Virtual do CEMI </h1>
    
  </div>
  
  </div>
  
  </div>
  
</body>

</html>
